<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

  {% if title %}
  <title>Flask Blog - {{ title }}</title>
  {% else %}
  <title>Flask Blog</title>
  {% endif %}
</head>

<body>
  <header>
    <nav>
      <a href="{{ url_for('main.home') }}">Home</a>
      <a href="{{ url_for('main.about') }}">About</a>
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('posts.new_post') }}">New Post</a>
      <a href="{{ url_for('users.account') }}">Account</a>
      <a href="{{ url_for('users.logout') }}">Logout</a>
      {% else %}
      <a href="{{ url_for('users.login') }}">Login</a>
      <a href="{{ url_for('users.register') }}">Register</a>
      {% endif %}
    </nav>
  </header>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% block content %}{% endblock %}
</body>

</html>
