{% extends 'base.html' %}
{% block content %}

<form method="POST">
  {{ form.hidden_tag() }}
  <fieldset>
    <legend>Login</legend>
    <div>
      {{ form.email.label }}
      {% if form.email.errors %}
        {{ form.email(class="is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.email.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% else %}
        {{ form.email }}
      {% endif %}
    </div>
    <div>
      {{ form.password.label }}
      {% if form.password.errors %}
        {{ form.password(class="is-invalid") }}
        <div class="invalid-feedback">
          {% for error in form.password.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% else %}
        {{ form.password }}
      {% endif %}
    </div>
    <div>
      {{ form.remember }}
      {{ form.remember.label }}
    </div>
  </fieldset>
  <div>
    {{ form.submit }}
  </div>
  <small><a href="#">Forgot Password?</a></small>
</form>
<div>
  <small>
    Need an account? <a href="{{ url_for('register') }}">Sign Up Now</a>
  </small>
</div>

{% endblock %}
